

:root {
  --purple-color: #6352FF;
  --white-color: #ffffff;
  --buttom-color:#9084FF;
  --text-color: rgb(109, 109, 109);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h4 {
  color: var(--purple-color);
  font-family: 'gilroyextrabold';
  
  font-weight: 300;
   
}



.container-p {
  max-width: 1366px;
  margin:  0 auto;
}

header .navbar {

  outline:  1px solid red;
  max-width: 1366px;
  margin:  0 auto;
 
}



/* .navbar-nav .nav-item {
  display: inline-block;
}

.navbar-toggler {
  display: none;
} */

.hero-container {
  align-items: center;
}

.hero {
  width: 100%;
  height: 800px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

.hero-presentation {
  /* padding-right: 1em; */
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  position: inherit;
  bottom: -40px;
  right: -64px;
}

.hero-waves {
  background-color:#69D4F3;
  /* width: 100%; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  height: 72%;
  z-index: -1;
}

/* .waves-bottom{
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  height: 4vw;
}  */

.hero-wave-container{
  background-image: url('../images/hero-waves.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  /* vertical-align: top;
   display: inline-block;  */
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: -214px;
  z-index: 1;
  width: 100%;
  height: 215px;
}

.hero-presentation p {
  font-size: 32px;
  color: var(--white-color);
}

.hero-presentation h1 {
  font-size: 54px;
  margin-top: 0;
}

.hero-presentation button {
  padding: 16px 40px;
  border-radius: 50px;
  border: none;
  color: var(--white-color);
  font-weight: 700;
  font-size: 21px;
  background-color: var(--buttom-color);
  margin-top: 36px;
}

.profesional-section {
  position: relative;
  margin: 8em 0;
}

.profesional-container {
  align-items: center;
  justify-content: space-between;
}

.profesional-image img:nth-of-type(1) {
  max-width: 100%;
  margin-right: 2em;
}
.profesional-image {
  position: relative;
  margin-right: 2em;
}

.profesional-description {
  width: 46%;
}

.profesional-description h2 {
  font-size: 48px;
  margin-bottom: .5em;

}

.profesional-description p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 32px;
  
}

.back-therapy {
  position: absolute;
  max-width: 1200px;
  top: 90px;
  left: -556px;
  z-index: -1;
}
.back-therapy img {
  width: 100%;
}


.benefits-container {
  align-items: baseline;
}

.benefits-background {
  width: 100%;
  height: 450px;
  background-color: #FFF8C7;
}

.wave-benefits-top  {
  width: 100%;
  height: 200px;
  background-image: url('/images/wave-benefits-1.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.wave-benefits-bottom {
  max-width: 100%;
  height: 542px;
  background-image: url('/images/wave-benefits-2.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}



.tittle-benefits h2 {
  font-size: 48px;
}

.cards-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card {
  width: 300px;
  background-color: var(--white-color);
  padding: 1.8em;
  border-radius: 25px;
  margin: .5em;
  height: min-content;
}

.card h4 {
  margin: 1em 0 1em;
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color:#686868;
  line-height: 22.4px;

}

.card:nth-of-type(2), .card:nth-of-type(4) {
  margin-top: -4em;
}

.step-content {
  width: 100%;
  position: relative;
  /* background-image: url('../images/line-step.svg'); */
}
.step-content h2 { 
  font-size: 48px;
 

  text-align: center;
}

.step-content span {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  margin-top: 2em;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(3,minmax(300px,1fr));
  grid-template-rows: repeat(2, 250px);
  justify-items: center;
  align-items: center;

}

.step-schedule {
  grid-row: 2;
}

.step-pay {
  grid-column: 2;
}

.step-service {
  grid-column: 3;
  grid-row: 2;
} */

/* svg tspan{
  color: var(--purple-color);
  font-family: 'gilroyextrabold';
  
  font-weight: 300;
   
} */

.step-content img {
  width: 100%;
  margin-top: 6em;
}


